# Pandas Serisi Oluşturmak

In [29]:
import pandas as pd 


# pd.Series() fonksiyonu ile yeni bir Series veri yapısı oluşturuyoruz ve içine [10, 88, 3, 4, 5] verilerini ekliyoruz.
seri = pd.Series([10, 88, 3, 4, 5])

# Oluşturduğumuz Series veri yapısını ekrana yazdırıyoruz.
print(" seri: \n{} \nİlk Değer: {} \nİkinci Değer: {} \n".format(seri,data[0],data[1]))

 seri:
0    10
1    88
2     3
3     4
4     5
dtype: int64
İlk Değer: 10
İkinci Değer: 88

In [2]:
import pandas as pd

seri = pd.Series([10, 88, 3, 4, 5])

print(type(seri))
# "type()" fonksiyonu, verilen nesnenin tipini (sınıfını) ekrana yazdırır.
print(seri.axes)
# "axes" özelliği, veri yapısının indekslerini (etiketlerini) döndürür.
print(seri.dtype)
# "dtype" özelliği, veri yapısındaki elemanların veri tipini döndürür.
print(seri.size)
# "size" özelliği, veri yapısındaki eleman sayısını döndürür.
print(seri.ndim)
# "ndim" özelliği, veri yapısının boyut sayısını döndürür. Series veri yapısı tek boyutludur, bu yüzden sonuç 1 olur.
print(seri.values)
# "values" özelliği, veri yapısındaki elemanları bir NumPy dizisi olarak döndürür.
print(seri.head(3))
# "head()" metodu, veri yapısının ilk N elemanını döndürür. Burada N değeri 3 olarak belirtilmiştir.
print(seri.tail(3))
# "tail()" metodu, veri yapısının son N elemanını döndürür. Burada N değeri 3 olarak belirtilmiştir.

<class 'pandas.core.series.Series'>
[RangeIndex(start=0, stop=5, step=1)]
int64
5
1
[10 88  3  4  5]
0    10
1    88
2     3
dtype: int64
2    3
3    4
4    5
dtype: int64

In [22]:
#index isimlendirmesi
# Veri ve indeks listelerini belirliyoruz.
a1 = pd.Series([99,22,332,94,5], index = [1,3,5,7,9])
a2 = pd.Series([99,22,332,94,5], index = ["a","b","c","d","e"])
print("a1:\n{}\n\na2: \n{} ".format(a1,a2))

a1:
1     99
3     22
5    332
7     94
9      5
dtype: int64

a2:
a     99
b     22
c    332
d     94
e      5
dtype: int64

In [21]:
print( "a2['a']: {} \n\na2['a':'c']: \n{} ".format(a2["a"],a2["a":"c"]))

a2['a']: 99

a2['a':'c']:
a     99
b     22
c    332
dtype: int64

In [2]:
#sozluk uzerinden liste olusturmak
import pandas as pd
# Bir sözlük oluşturuyoruz. Anahtarlar ve değerler arasında ilişki bulunuyor.
sozluk = {"reg": 10, "log": 11, "cart": 12}

# Oluşturduğumuz sözlüğü pandas Serisi'ne dönüştürüyoruz.
seri = pd.Series(sozluk)

# Oluşturduğumuz Seri'yi iki kez birleştiriyoruz.
# Sonuç olarak, aynı Seri iki kez birleştirildiğinden tüm veriler iki kez görünecektir.
birlesmis_seri = pd.concat([seri, seri])

# Eleman İşlemleri

In [3]:
import numpy as np
# Bir numpy dizisi oluşturuyoruz.
a = np.array([1, 2, 33, 444, 75])

# Oluşturduğumuz numpy dizisini pandas Serisi'ne dönüştürüyoruz.
seri = pd.Series(a)

# Elde ettiğimiz Seri'yi ekrana yazdırıyoruz.
seri

0      1
1      2
2     33
3    444
4     75
dtype: int32

In [8]:
print("seri[0] {} \nseri[0:3] \n{}".format(seri[0],seri[0:3]))

seri[0] 1
seri[0:3]
0     1
1     2
2    33
dtype: int32

In [9]:
seri = pd.Series([121,200,150,99], 
                 index = ["reg","loj","cart","rf"])

seri

reg     121
loj     200
cart    150
rf       99
dtype: int64

In [11]:
# Seri'nin indekslerini elde ediyoruz.
indeksler = seri.index
# Seri'nin değerlerini elde ediyoruz.
degerler = seri.values


print(" indeksler: {} \n degerler: {}".format(indeksler,degerler))

indeksler: Index(['reg', 'loj', 'cart', 'rf'], dtype='object')
 degerler: [121 200 150  99]

In [21]:
#eleman sorgulama
print( " reg: {} \n a: {} \n seri[reg]: {} \n\nseri[[rf, reg]]:\n {} ".format("reg" in seri,"a" in seri,seri["reg"],seri[["rf", "reg"]]))

 reg: True
 a: False
 seri[reg]: 121

seri[[rf, reg]]:
 rf      99
reg    121
dtype: int64

In [23]:
seri["reg"] = 130

print("seri[reg]: {} \n seri[reg:loj]: \n {} ".format(seri["reg"],seri["reg":"loj"]))

seri[reg]: 130
 seri[reg:loj]:
 reg    130
loj    200
dtype: int64

# Pandas DataFrame Oluşturma

In [2]:
import pandas as pd

# Bir liste oluşturuyoruz.
l = [1, 2, 39, 67, 90]

# Oluşturduğumuz listeyi pandas DataFrame'e dönüştürüyoruz.
# "columns" parametresi ile sütun adını belirtiyoruz.
df = pd.DataFrame(l, columns=["degisken_ismi"])
print("df: {}".format(df))

df:    degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [3]:
import numpy as np
import pandas as pd

# numpy kütüphanesini "np" adıyla içe aktarıyoruz.
import numpy as np

# 1 ile 9 arasındaki değerleri içeren ve 3x3 boyutlu bir numpy dizisi oluşturuyoruz.
m = np.arange(1, 10).reshape((3, 3))

# Oluşturduğumuz numpy dizisini pandas DataFrame'e dönüştürüyoruz.
# Sütun adlarını "var1", "var2", "var3" olarak belirtiyoruz.
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])

# DataFrame'in ilk 5 satırını ekrana yazdırıyoruz.
print(df.head())

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [4]:
# 1 ile 9 arasındaki değerleri içeren ve 3x3 boyutlu bir numpy dizisi oluşturuyoruz.
m = np.arange(1, 10).reshape((3, 3))

# Oluşturduğumuz numpy dizisini pandas DataFrame'e dönüştürüyoruz.
# Sütun adlarını "var1", "var2", "var3" olarak belirtiyoruz.
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])

# DataFrame'in sütun adlarını değiştiriyoruz.
df.columns = ["deg1", "deg2", "deg3"]

# DataFrame'in tipini kontrol ediyoruz.
tip = type(df)

# DataFrame'in indeks ve sütunlarına erişiyoruz.
indeks_ve_sutunlar = df.axes

# DataFrame'in şeklini (satır ve sütun sayısı) alıyoruz.
sekil = df.shape

# DataFrame'in boyut sayısını (2 boyutlu olduğu için) alıyoruz.
boyut_sayisi = df.ndim

# DataFrame'in toplam eleman sayısını alıyoruz.
eleman_sayisi = df.size

# DataFrame'in içindeki değerleri numpy dizisi olarak alıyoruz.
degerler = df.values

# DataFrame'in içindeki değerlerin tipini kontrol ediyoruz.
degerler_tipi = type(df.values)

# DataFrame'in son 1 satırını alıyoruz.
son_satir = df.tail(1)
print(" tip: {} \n indeks_ve_sutunlar: {} \n sekil: {} \n boyut_sayisi: {} \n eleman_sayisi: {} \n degerler: \n degerler_tipi: {} son_satir: {}".format(tip,indeks_ve_sutunlar,sekil,boyut_sayisi,eleman_sayisi,degerler,degerler_tipi,son_satir))

 tip: <class 'pandas.core.frame.DataFrame'>
 indeks_ve_sutunlar: [RangeIndex(start=0, stop=3, step=1), Index(['deg1', 'deg2', 'deg3'], dtype='object')]
 sekil: (3, 3)
 boyut_sayisi: 2
 eleman_sayisi: 9
 degerler:
 degerler_tipi: [[1 2 3]
 [4 5 6]
 [7 8 9]] son_satir: <class 'numpy.ndarray'>

In [5]:
# Bir numpy dizisi oluşturuyoruz.
a = np.array([1, 2, 3, 4, 5])

# Oluşturduğumuz numpy dizisini pandas DataFrame'e dönüştürüyoruz.
# Sütun adını "deg1" olarak belirtiyoruz.
df = pd.DataFrame(a, columns=["deg1"])

# Oluşturduğumuz DataFrame'i ekrana yazdırıyoruz.
print(df)

   deg1
0     1
1     2
2     3
3     4
4     5

# Eleman İşlemleri

In [10]:
import numpy as np
import pandas as pd

# numpy kütüphanesini "np" adıyla içe aktarıyoruz.
import numpy as np

# Rastgele 10'dan küçük tam sayılardan oluşan 5 elemanlı bir numpy dizisi oluşturuyoruz.
s1 = np.random.randint(10, size=5)

# Yine rastgele 10'dan küçük tam sayılardan oluşan bir numpy dizisi oluşturuyoruz.
s2 = np.random.randint(10, size=5)

# Bir diğer rastgele 10'dan küçük tam sayılardan oluşan bir numpy dizisi oluşturuyoruz.
s3 = np.random.randint(10, size=5)

# Oluşturduğumuz numpy dizilerini bir sözlüğe atıyoruz.
sozluk = {"var1": s1, "var2": s2, "var3": s3}

# Oluşturduğumuz sözlüğü pandas DataFrame'e dönüştürüyoruz.
df = pd.DataFrame(sozluk)

# Oluşturduğumuz DataFrame'i ekrana yazdırıyoruz.
print("sozluk: \n {} \n df: \n {}".format(sozluk,df))

sozluk:
 {'var1': array([1, 2, 0, 4, 1]), 'var2': array([5, 7, 6, 4, 8]), 'var3': array([4, 7, 0, 8, 2])}
 df:
    var1  var2  var3
0     1     5     4
1     2     7     7
2     0     6     0
3     4     4     8
4     1     8     2

In [11]:
print("df[0:1]: \n{} \n\nindex:\n{} \n".format(df[0:1],df.index  ))

df[0:1]:
   var1  var2  var3
0     1     5     4

index:
RangeIndex(start=0, stop=5, step=1)

In [12]:
import numpy as np
import pandas as pd

# DataFrame'in indekslerini atıyoruz.
df.index = ["a","b","c","d","e"]
# "c" ile "e" arasındaki satırları seçiyoruz.
df["c":"e"]
# "a" indeksine sahip satırı veri çerçevesinden kaldırıyoruz.
# "axis=0" ile satırı kaldırdığımızı belirtiyoruz.
# Yeni bir DataFrame döndürülür, orijinal DataFrame değişmez.
yeni_df = df.drop("a", axis=0)

# "a" indeksine sahip satırı veri çerçevesinden kaldırıyoruz.
# "axis=0" ile satırı kaldırdığımızı belirtiyoruz.
# "inplace=True" ile işlemi DataFrame üzerinde gerçekleştiriyoruz.
df.drop("a", axis=0, inplace=True)
print(" df: \n {} \n df[c:e]: \n {} \n\n yeni_df:\n{}".format( df ,df["c":"e"],yeni_df,))

 df:
    var1  var2  var3
b     2     7     7
c     0     6     0
d     4     4     8
e     1     8     2
 df[c:e]:
    var1  var2  var3
c     0     6     0
d     4     4     8
e     1     8     2

 yeni_df:
   var1  var2  var3
b     2     7     7
c     0     6     0
d     4     4     8
e     1     8     2

In [13]:
# Bir liste oluşturuyoruz ve içine "c" ve "e" isimli iki string ekliyoruz.
l = ["c", "e"]

# DataFrame üzerinde satırları kaldırmak için drop fonksiyonunu kullanıyoruz.
# axis=0 parametresi ile satırlar üzerinde işlem yapacağımızı belirtiyoruz.
# l listesindeki etiketlere sahip satırlar bu komutla kaldırılacak.
df.drop(l, axis=0)

   var1  var2  var3
b     2     7     7
d     4     4     8

In [14]:
# Kontrol edilecek sütun adları listesi oluşturuluyor.
l = ["var1", "var4", "var2"]

# l listesindeki her bir sütun adını kontrol ediyoruz.
for i in l:
    # Sütun adının DataFrame'de bulunup bulunmadığını kontrol ediyoruz.
    # "in" anahtar kelimesi, bir değerin bir koleksiyon içinde bulunup bulunmadığını kontrol eder.
    # Eğer sütun adı DataFrame içinde bulunuyorsa True, bulunmuyorsa False yazdırılır.
    print(i in df)

True
False
True

In [17]:
df["var4"] = df["var1"] / df["var2"]
print(" var1: \n{} \n var2: \n{} \n df[var4]: \n{}".format(df["var1"],df["var2"],df["var4"]))

 var1:
b    2
c    0
d    4
e    1
Name: var1, dtype: int32
 var2:
b    7
c    6
d    4
e    8
Name: var2, dtype: int32
 df[var4]:
b    0.285714
c    0.000000
d    1.000000
e    0.125000
Name: var4, dtype: float64

In [18]:
# "var4" adlı sütunu kaldırır, ancak değişiklik orijinal DataFrame'e uygulanmaz.
df.drop("var4", axis=1)
# "var4" adlı sütunu kaldırır ve değişikliği orijinal DataFrame'e uygular.
df.drop("var4", axis=1, inplace=True)
# "var1" ve "var2" adlı sütunları kaldırır, ancak değişiklik orijinal DataFrame'e uygulanmaz.
l = ["var1", "var2"]
df.drop(l, axis=1)

   var3
b     7
c     0
d     8
e     2

# Gözlem ve Değişken Seçimi: loc & iloc

In [23]:
import numpy as np
import pandas as pd

# 1 ile 30 arasında rastgele sayılardan (10,3) boyutunda bir matris oluşturulur.
# Bu matris, bir DataFrame içine dönüştürülecek.
m = np.random.randint(1, 30, size=(10, 3))

# Oluşturulan matris, sütun adları "var1", "var2", "var3" olan bir DataFrame'e dönüştürülür.
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])
print("df: \n{} ".format(df))

df:
   var1  var2  var3
0     6     8    15
1    21    29    25
2    24     1    14
3    16    21     4
4    20     5     7
5    25     5     5
6     2     5     8
7    21     5    25
8    21    29     2
9    26    29    25

In [25]:
# DataFrame'deki ilk 4 satırı (0'dan 3'e kadar olan satırlar) seçer.
df_loc_0_to_3 = df.loc[0:3]

# DataFrame'deki ilk 3 satırı (0'dan 2'ye kadar olan satırlar) seçer.
df_iloc_0_to_3 = df.iloc[0:3]
# İlk satırın, ilk sütunundaki değeri döndürür.
first_cell_value = df.iloc[0, 0]
# İlk üç satırı ve ilk iki sütunu seçer.
df_iloc_first_3_rows_first_2_columns = df.iloc[:3, :2]
# İlk 4 satırın "var3" sütununu seçer.
df_loc_first_4_rows_var3 = df.loc[0:3, "var3"]
# İlk 4 satırın "var3" sütununu tekrar seçer. (Yukarıdaki satırla aynı)
df_loc_first_4_rows_var3_again = df.loc[0:3, "var3"]
# İlk 3 satırın "var3" sütununu seçer.
df_iloc_first_3_rows_var3 = df.iloc[0:3]["var3"]

# Değişkenleri kullanarak DataFrame'i formatlı olarak görüntüleyelim
print("df_loc_0_to_3: \n{}".format(df_loc_0_to_3))
print("df_iloc_0_to_3: \n{}".format(df_iloc_0_to_3))
print("first_cell_value: {}".format(first_cell_value))
print("df_iloc_first_3_rows_first_2_columns: \n{}".format(df_iloc_first_3_rows_first_2_columns))
print("df_loc_first_4_rows_var3: \n{}".format(df_loc_first_4_rows_var3))
print("df_loc_first_4_rows_var3_again: \n{}".format(df_loc_first_4_rows_var3_again))
print("df_iloc_first_3_rows_var3: \n{}".format(df_iloc_first_3_rows_var3))

df_loc_0_to_3:
   var1  var2  var3
0     6     8    15
1    21    29    25
2    24     1    14
3    16    21     4
df_iloc_0_to_3:
   var1  var2  var3
0     6     8    15
1    21    29    25
2    24     1    14
first_cell_value: 6
df_iloc_first_3_rows_first_2_columns:
   var1  var2
0     6     8
1    21    29
2    24     1
df_loc_first_4_rows_var3:
0    15
1    25
2    14
3     4
Name: var3, dtype: int32
df_loc_first_4_rows_var3_again:
0    15
1    25
2    14
3     4
Name: var3, dtype: int32
df_iloc_first_3_rows_var3:
0    15
1    25
2    14
Name: var3, dtype: int32

# Koşullu Eleman İşlemleri

In [26]:
# (10, 3) boyutunda rastgele sayılardan oluşan bir matris oluşturulur.
# Sayılar 1 ile 29 arasında olur (1 dahil, 30 hariç).
m = np.random.randint(1, 30, size=(10, 3))

# Oluşturulan matrisi "var1", "var2" ve "var3" adlarına sahip sütunlarla bir DataFrame'e dönüştürür.
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])

In [2]:
import numpy as np
import pandas as pd

# Rastgele verilerle bir DataFrame oluşturalım
m = np.random.randint(1, 30, size=(10, 3))
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])


# Sütunları seçme işlemleri:

# "var1" sütununu seçer
var1_column = df["var1"]

# İlk 2 satırın "var1" ve "var2" sütunlarını seçer
first_2_rows_var1_var2 = df[0:2][["var1", "var2"]]

# "var1" sütununu seçer (alternatif yöntem)
var1_column_alt = df.var1

# "var1" sütununda değeri 15'ten büyük olan satırları seçer
var1_gt_15 = df[df.var1 > 15]

# "var1" sütununda değeri 15'ten büyük VE "var3" sütununda değeri 5'ten küçük olan satırları seçer
var1_gt_15_var3_lt_5 = df[(df.var1 > 15) & (df.var3 < 5)]

# "var1" ve "var2" sütunlarını, "var1" sütununda değeri 15'ten büyük olan satırları seçer (loc yöntemi)
var1_gt_15_var1_var2 = df.loc[df.var1 > 15, ["var1", "var2"]]

# "var1" ve "var2" sütunlarını, "var1" sütununda değeri 15'ten büyük olan satırları seçer (alternatif yöntem)
var1_gt_15_var1_var2_alt = df[(df.var1 > 15)][["var1", "var2"]]

# DataFrame'i formatlı olarak görüntüleme
print("\ndf: \n{} ".format(df))
print("\nvar1_column: \n{} ".format(var1_column))
print("\nfirst_2_rows_var1_var2: \n{} ".format(first_2_rows_var1_var2))
print("\nvar1_column_alt: \n{} ".format(var1_column_alt))
print("\nvar1_gt_15: \n{} ".format(var1_gt_15))
print("\nvar1_gt_15_var3_lt_5: \n{} ".format(var1_gt_15_var3_lt_5))
print("\nvar1_gt_15_var1_var2: \n{} ".format(var1_gt_15_var1_var2))
print("\nvar1_gt_15_var1_var2_alt: \n{} ".format(var1_gt_15_var1_var2_alt))

df:
   var1  var2  var3
0    19     5    25
1     5     5    19
2    17    16     2
3    17     2    25
4    16    17    26
5     9    18    25
6    26    20    12
7     7    11    17
8     2    16     1
9    13    24    11

var1_column:
0    19
1     5
2    17
3    17
4    16
5     9
6    26
7     7
8     2
9    13
Name: var1, dtype: int32

first_2_rows_var1_var2:
   var1  var2
0    19     5
1     5     5

var1_column_alt:
0    19
1     5
2    17
3    17
4    16
5     9
6    26
7     7
8     2
9    13
Name: var1, dtype: int32

var1_gt_15:
   var1  var2  var3
0    19     5    25
2    17    16     2
3    17     2    25
4    16    17    26
6    26    20    12

var1_gt_15_var3_lt_5:
   var1  var2  var3
2    17    16     2

var1_gt_15_var1_var2:
   var1  var2
0    19     5
2    17    16
3    17     2
4    16    17
6    26    20

var1_gt_15_var1_var2_alt:
   var1  var2
0    19     5
2    17    16
3    17     2
4    16    17
6    26    20

# Birleştirme (Join) İşlemleri

In [3]:
import numpy as np
import pandas as pd

# (1, 30) aralığında rastgele tamsayılardan (5, 3) boyutunda bir matris oluşturulur.
m = np.random.randint(1, 30, size=(5, 3))

# Oluşturulan matrisi "var1", "var2" ve "var3" adlarına sahip sütunlarla bir DataFrame'e dönüştürür.
df1 = pd.DataFrame(m, columns=["var1", "var2", "var3"])

In [9]:
import pandas as pd
import numpy as np

# İlk DataFrame'i oluşturalım
m = np.random.randint(1, 30, size=(5, 3))
df1 = pd.DataFrame(m, columns=["var1", "var2", "var3"])

# İkinci DataFrame'i, df1 üzerine 99 ekleyerek oluşturalım
df2 = df1 + 99

# df1 ve df2 DataFrame'lerini birleştirelim (alt alta)
concatenated_df = pd.concat([df1, df2])

# pd.concat() fonksiyonunun belge sayfasına göz atalım
# ?pd.concat

# ignore_index parametresini kullanarak df1 ve df2'yi birleştirelim
concatenated_ignore_index = pd.concat([df1, df2], ignore_index=True)

# df1'in sütun adlarını görüntüleyelim
df1_columns = df1.columns

# df2'nin sütun adlarını "var1", "var2" ve "deg3" olarak değiştirelim
df2.columns = ["var1", "var2", "deg3"]

# df2 DataFrame'i
df2

# df1 DataFrame'i
df1

# df1 ve df2'yi birleştirelim (alt alta)
concatenated_inner = pd.concat([df1, df2], join="inner")

# df1 ve df2'yi birleştirirken join_axes parametresini kullanarak df2'nin sütunlarına göre birleştirelim
concatenated_join = pd.concat([df1, df2])

# Değişkenlere atanan sonuçları görüntüleyelim
print("\nconcatenated_df: \n{} ".format(concatenated_df))
print("\nconcatenated_ignore_index: \n{} ".format(concatenated_ignore_index))
print("\ndf1_columns: \n{} ".format(df1_columns))
print("\ndf1_columns: \n{} ".format(df2.columns))
print("\ndf1: \n{} ".format(df1))
print("\ndf2: \n{} ".format(df2))
print("\nconcatenated_inner: \n{} ".format(concatenated_inner))
print("\nconcatenated_join_axes: \n{} ".format(concatenated_join))

concatenated_df:
   var1  var2  var3
0     2    18    28
1    23    24    20
2     2    16    23
3     2    22     4
4    27    20    14
0   101   117   127
1   122   123   119
2   101   115   122
3   101   121   103
4   126   119   113

concatenated_ignore_index:
   var1  var2  var3
0     2    18    28
1    23    24    20
2     2    16    23
3     2    22     4
4    27    20    14
5   101   117   127
6   122   123   119
7   101   115   122
8   101   121   103
9   126   119   113

df1_columns:
Index(['var1', 'var2', 'var3'], dtype='object')

df1_columns:
Index(['var1', 'var2', 'deg3'], dtype='object')

df1:
   var1  var2  var3
0     2    18    28
1    23    24    20
2     2    16    23
3     2    22     4
4    27    20    14

df2:
   var1  var2  deg3
0   101   117   127
1   122   123   119
2   101   115   122
3   101   121   103
4   126   119   113

concatenated_inner:
   var1  var2
0     2    18
1    23    24
2     2    16
3     2    22
4    27    20
0   101   117
1   122   123
2   101   115
3   101   121
4   126   119

concatenated_join_axes:
   var1  var2  var3   deg3
0     2    18  28.0    NaN
1    23    24  20.0    NaN
2     2    16  23.0    NaN
3     2    22   4.0    NaN
4    27    20  14.0    NaN
0   101   117   NaN  127.0
1   122   123   NaN  119.0
2   101   115   NaN  122.0
3   101   121   NaN  103.0
4   126   119   NaN  113.0

# İleri Birleştirme İşlemleri

In [10]:
import pandas as pd
df1 = pd.DataFrame({'calisanlar': ['Ali', 'Veli', 'Ayse', 'Fatma'],
                    'grup': ['Muhasebe', 'Muhendislik', 'Muhendislik', 'İK']})

df1

  calisanlar         grup
0        Ali     Muhasebe
1       Veli  Muhendislik
2       Ayse  Muhendislik
3      Fatma           İK

In [11]:
df2 = pd.DataFrame({'calisanlar': ['Ayse', 'Ali', 'Veli', 'Fatma'],
                    'ilk_giris': [2010, 2009, 2014, 2019]})

df2

  calisanlar  ilk_giris
0       Ayse       2010
1        Ali       2009
2       Veli       2014
3      Fatma       2019

In [12]:
df4 = pd.DataFrame({'grup': ['Muhasebe', 'Muhendislik', 'İK'],
                    'mudur': ['Caner', 'Mustafa', 'Berkcan']})

df4

          grup    mudur
0     Muhasebe    Caner
1  Muhendislik  Mustafa
2           İK  Berkcan

In [13]:
df5 = pd.DataFrame({'grup': ['Muhasebe', 'Muhasebe',
                              'Muhendislik', 'Muhendislik', 'İK', 'İK'],
                    'yetenekler': ['matematik', 'excel', 'kodlama', 'linux',
                               'excel', 'yonetim']})

df5

          grup yetenekler
0     Muhasebe  matematik
1     Muhasebe      excel
2  Muhendislik    kodlama
3  Muhendislik      linux
4           İK      excel
5           İK    yonetim

In [14]:
# İki DataFrame'i "calisanlar" sütunu üzerinde birleştirelim (varsayılan birleştirme türü)
merge_default = pd.merge(df1, df2)

# "calisanlar" sütunu üzerinde birleştirme yapalım (explicit olarak belirtiliyor)
merge_on_calisanlar = pd.merge(df1, df2, on="calisanlar")

# İlk iki DataFrame'i birleştirip üçüncü bir DataFrame oluşturalım
df3 = pd.merge(df1, df2)

# Üçüncü ve dördüncü DataFrame'leri birleştirelim (varsayılan birleştirme türü)
merge_df3_df4 = pd.merge(df3, df4)

# df1 ve df5'i birleştirelim (varsayılan birleştirme türü)
merge_df1_df5 = pd.merge(df1, df5)

# Değişkenlere atanan sonuçları görüntüleyelim
print("\nmerge_default: \n{} ".format(merge_default))
print("\nmerge_on_calisanlar: \n{} ".format(merge_on_calisanlar))
print("\ndf3: \n{} ".format(df3))
print("\nmerge_df3_df4: \n{} ".format(merge_df3_df4))
print("\nmerge_df1_df5: \n{} ".format(merge_df1_df5))

merge_default:
  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           İK       2019

merge_on_calisanlar:
  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           İK       2019

df3:
  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           İK       2019

merge_df3_df4:
  calisanlar         grup  ilk_giris    mudur
0        Ali     Muhasebe       2009    Caner
1       Veli  Muhendislik       2014  Mustafa
2       Ayse  Muhendislik       2010  Mustafa
3      Fatma           İK       2019  Berkcan

merge_df1_df5:
  calisanlar         grup yetenekler
0        Ali     Muhasebe  matematik
1        Ali     Muhasebe      excel
2       Veli  Muhendislik    kodlama
3       Veli  Muhendislik      linux
4       Ayse  Muhendislik    kodlama
5       Ayse  Muhendislik      linux
6      Fatma           İK      excel
7      Fatma           İK    yonetim

# Toplulaştırma ve Gruplama (Aggregation & Grouping)

In [7]:
import seaborn as sns
import pandas as pd

# "planets" veri setini yükle
df = sns.load_dataset("planets")

# Veri setinin başını görüntüle
print(df.head())

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [11]:

# "mass" sütununun ortalama değerini hesapla
mean_mass = df["mass"].mean()
# "mass" sütunundaki veri sayısını hesapla
count_mass = df["mass"].count()
# "mass" sütunundaki en küçük değeri bul
min_mass = df["mass"].min()
# "mass" sütunundaki en büyük değeri bul
max_mass = df["mass"].max()
# "mass" sütunundaki değerlerin toplamını hesapla
sum_mass = df["mass"].sum()
# "mass" sütunundaki standart sapmayı hesapla
std_mass = df["mass"].std()
# "mass" sütunundaki varyansı hesapla
var_mass = df["mass"].var()
# DataFrame'in istatistiksel özetini transpoze ederek görüntüle
describe_transposed = df.describe().T
# Eksik değerleri içermeyen verilerin istatistiksel özetini transpoze ederek görüntüle
describe_no_na_transposed = df.dropna().describe().T


# Değişkenlere atanan sonuçları formatlı bir şekilde görüntüle
print("\nmean_mass: \n{} ".format(mean_mass))
print("\ncount_mass: \n{} ".format(count_mass))
print("\nmin_mass: \n{} ".format(min_mass))
print("\nmax_mass: \n{} ".format(max_mass))
print("\nsum_mass: \n{} ".format(sum_mass))
print("\nstd_mass: \n{} ".format(std_mass))
print("\nvar_mass: \n{} ".format(var_mass))
print("\ndescribe_transposed: \n{} ".format(describe_transposed))
print("\ndescribe_no_na_transposed: \n{} ".format(describe_no_na_transposed))

mean_mass:
2.6381605847953216

count_mass:
513

min_mass:
0.0036

max_mass:
25.0

sum_mass:
1353.37638

std_mass:
3.8186166509616046

var_mass:
14.58183312700122

describe_transposed:
                 count         mean           std          min         25%  \
number          1035.0     1.785507      1.240976     1.000000     1.00000
orbital_period   992.0  2002.917596  26014.728304     0.090706     5.44254
mass             513.0     2.638161      3.818617     0.003600     0.22900
distance         808.0   264.069282    733.116493     1.350000    32.56000
year            1035.0  2009.070531      3.972567  1989.000000  2007.00000

                      50%       75%       max
number             1.0000     2.000       7.0
orbital_period    39.9795   526.005  730000.0
mass               1.2600     3.040      25.0
distance          55.2500   178.500    8500.0
year            2010.0000  2012.000    2014.0

describe_no_na_transposed:
                count         mean          std        min         25%  \
number          498.0     1.734940     1.175720     1.0000     1.00000
orbital_period  498.0   835.778671  1469.128259     1.3283    38.27225
mass            498.0     2.509320     3.636274     0.0036     0.21250
distance        498.0    52.068213    46.596041     1.3500    24.49750
year            498.0  2007.377510     4.167284  1989.0000  2005.00000

                     50%        75%      max
number             1.000     2.0000      6.0
orbital_period   357.000   999.6000  17337.5
mass               1.245     2.8675     25.0
distance          39.940    59.3325    354.0
year            2009.000  2011.0000   2014.0

# Gruplama İşlemleri

In [46]:
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'veri': [10,11,52,23,43,55]}, columns=['gruplar', 'veri'])
df

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

In [47]:


print("\ndf.groupby(gruplar) : \n{}".format( df.groupby("gruplar") ))
print("\ndf.groupby(gruplar).mean() : \n{}".format( df.groupby("gruplar").mean() ))
print("\ndf.groupby(gruplar).sum() : \n{}".format( df.groupby("gruplar").sum() ))

df.groupby(gruplar) :
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001998BAAA250>

df.groupby(gruplar).mean() :
         veri
gruplar
A        16.5
B        27.0
C        53.5

df.groupby(gruplar).sum() :
         veri
gruplar
A          33
B          54
C         107

In [48]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [52]:

print("\ndf.groupby(method) : \n{}".format( df.groupby("method") ))
print("\ndf.groupby(method)[orbital_period].mean() : \n{}".format( df.groupby("method")["orbital_period"].mean() ))
print("\ndf.groupby(method)[orbital_period].describe() : \n{}".format( df.groupby("method")["orbital_period"].describe() ))

df.groupby(method) :
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001998D2AF950>

df.groupby(method)[orbital_period].mean() :
method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

df.groupby(method)[orbital_period].describe() :
                               count           mean            std  \
method
Astrometry                       2.0     631.180000     544.217663
Eclipse Timing Variations        9.0    4751.644444    2499.130945
Imaging                         12.0  118247.737500  213978.177277
Microlensing                     7.0    3153.571429    1113.166333
Orbital Brightness Modulation    3.0       0.709307       0.725493
Pulsar Timing                    5.0    7343.021201   16313.265573
Pulsation Timing Variations      1.0    1170.000000            NaN
Radial Velocity                553.0     823.354680    1454.926210
Transit                        397.0      21.102073      46.185893
Transit Timing Variations        3.0      79.783500      71.599884

                                       min          25%           50%  \
method
Astrometry                      246.360000   438.770000    631.180000
Eclipse Timing Variations      1916.250000  2900.000000   4343.500000
Imaging                        4639.150000  8343.900000  27500.000000
Microlensing                   1825.000000  2375.000000   3300.000000
Orbital Brightness Modulation     0.240104     0.291496      0.342887
Pulsar Timing                     0.090706    25.262000     66.541900
Pulsation Timing Variations    1170.000000  1170.000000   1170.000000
Radial Velocity                   0.736540    38.021000    360.200000
Transit                           0.355000     3.160630      5.714932
Transit Timing Variations        22.339500    39.675250     57.011000

                                        75%            max
method
Astrometry                       823.590000    1016.000000
Eclipse Timing Variations       5767.000000   10220.000000
Imaging                        94250.000000  730000.000000
Microlensing                    3550.000000    5100.000000
Orbital Brightness Modulation      0.943908       1.544929
Pulsar Timing                     98.211400   36525.000000
Pulsation Timing Variations     1170.000000    1170.000000
Radial Velocity                  982.000000   17337.500000
Transit                           16.145700     331.600590
Transit Timing Variations        108.505500     160.000000

# İleri Toplulaştırma İşlemleri (Aggregate, filter, transform, apply)

In [8]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [2]:
# "gruplar" sütununa göre gruplama yapalım ve grupların "degisken1" sütunundaki ortalama değerlerini hesaplayalım
grup_ortalamalari = df.groupby("gruplar")["degisken1"].mean()

# "gruplar" sütununa göre gruplama yapalım ve grupların "degisken1" ve "degisken2" sütunları için minimum, medyan ve maksimum değerleri hesaplayalım
grup_aggregate = df.groupby("gruplar").aggregate([min, np.median, max])

# "gruplar" sütununa göre gruplama yapalım ve grupların "degisken1" için minimum değeri, "degisken2" için maksimum değeri hesaplayalım
grup_ozel_aggregate = df.groupby("gruplar").aggregate({"degisken1": "min", "degisken2": "max"})

# Sonuçları ekrana yazdıralım
print("\ngrup_ortalamalari: \n{}".format(grup_ortalamalari))
print("\ngrup_aggregate: \n{}".format(grup_aggregate))
print("\ngrup_ozel_aggregate: \n{}".format(grup_ozel_aggregate))

grup_ortalamalari:
gruplar
A    16.0
B    17.0
C    66.0
Name: degisken1, dtype: float64

grup_aggregate:
        degisken1            degisken2
              min median max       min median  max
gruplar
A              10   16.0  22       100  181.0  262
B              11   17.0  23       111  182.0  253
C              33   66.0  99       333  651.0  969

grup_ozel_aggregate:
         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969

In [3]:
# "degisken1" sütununun standart sapmasının 9'dan büyük olduğu grupları filtreleyelim
def filter_func(x):
    return x["degisken1"].std() > 9

# "gruplar" sütununa göre gruplama yapalım ve "filter_func" fonksiyonunu kullanarak filtreyi uygulayalım
filtrelenmis_gruplar = df.groupby("gruplar").filter(filter_func)

# Her grubun standart sapmalarını hesaplayalım
grup_standart_sapma = df.groupby("gruplar").std()

# Sonuçları ekrana yazdıralım
print("\nfiltrelenmis_gruplar: \n{}".format(filtrelenmis_gruplar))
print("\ngrup_standart_sapma: \n{}".format(grup_standart_sapma))

filtrelenmis_gruplar:
  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

grup_standart_sapma:
         degisken1   degisken2
gruplar
A         8.485281  114.551299
B         8.485281  100.409163
C        46.669048  449.719913

In [4]:
# "degisken1" sütununu 9 ile çarpalım
df_degisken1_carpilmis = df["degisken1"] * 9

# DataFrame'de 1. ve 2. sütunları (degisken1 ve degisken2) seçelim
df_a = df.iloc[:, 1:3]

# Seçilen sütunları, sütunların kendi ortalamalarını çıkarıp standart sapmalarına bölelim (standartlaştırma)
df_a_standartlastirilmis = df_a.transform(lambda x: (x - x.mean()) / x.std())

# Sonuçları ekrana yazdıralım
print("\ndf_degisken1_carpilmis: \n{}".format(df_degisken1_carpilmis))
print("\ndf_a_standartlastirilmis: \n{}".format(df_a_standartlastirilmis))

df_degisken1_carpilmis:
0     90
1    207
2    297
3    198
4     99
5    891
Name: degisken1, dtype: int64

df_a_standartlastirilmis:
   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

In [14]:

import numpy as np
import pandas as pd


# Tüm sütunlardaki toplam değerleri hesaplayalım
sum_all_columns = df.apply(np.sum)



# Sonuçları ekrana yazdıralım
print("\nsum_all_columns: \n{}".format(sum_all_columns))

sum_all_columns:
gruplar      ABCABC
degisken1       198
degisken2      2028
dtype: object

In [16]:
# "gruplar" sütununa göre gruplayarak her grup için sütunların ortalama değerlerini hesaplayalım
mean_group_by_gruplar = df.groupby("gruplar").apply(np.mean)
# Sonuçları ekrana yazdıralım
print("\nmean_group_by_gruplar: \n{}".format(mean_group_by_gruplar))

mean_group_by_gruplar:
gruplar
A     98.5
B     99.5
C    358.5
dtype: float64

# Pivot Tablolar

In [22]:
# pandas ve seaborn kütüphanelerini içe aktaralım
import pandas as pd
import seaborn as sns

# Seaborn kütüphanesinde yer alan 'titanic' veri setini yükleyelim
titanic = sns.load_dataset('titanic')

# Veri setinin ilk birkaç satırını görüntüleyelim
titanic_head = titanic.head()

# 'titanic_head' değişkenine atanan ilk birkaç satırı ekrana yazdıralım
print("\ntitanic_head: \n{}".format(titanic_head))

titanic_head:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [23]:
# Cinsiyete göre hayatta kalanların ortalama oranını hesaplayalım ve "sex_survived_mean" adlı bir DataFrame'e atayalım
sex_survived_mean = titanic.groupby("sex")[["survived"]].mean()

# Sınıf ve cinsiyete göre hayatta kalanların ortalama oranlarını hesaplayalım, sonucu çoklu indeksli bir DataFrame olarak döndürelim ve "sex_class_survived_mean" adlı bir DataFrame'e atayalım
sex_class_survived_mean = titanic.groupby(["sex", "class"])[["survived"]].aggregate("mean").unstack()

# Sonuçları ekrana yazdıralım
print("\nsex_survived_mean: \n{}".format(sex_survived_mean))
print("\nsex_class_survived_mean: \n{}".format(sex_class_survived_mean))

sex_survived_mean:
        survived
sex
female  0.742038
male    0.188908

sex_class_survived_mean:
        survived
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [33]:
# Cinsiyete ve sınıfa göre hayatta kalanların ortalama oranlarını içeren bir pivot tablosu oluşturalım ve sonucu "pivot_sex_class_survived" adlı bir DataFrame'e atayalım
pivot_sex_class_survived = titanic.pivot_table("survived", index="sex", columns="class")

# Titanic veri setindeki ilk birkaç yaş değerini gösterelim
print("titanic.age.head: \n{}".format(titanic.age.head()))

# "age" adlı yeni bir kategorik değişken oluşturalım, yaş verilerini belirtilen aralıklara (0-18 ve 18-90) bölelim
age = pd.cut(titanic["age"], [0, 18, 90])
print("age.head(10):")
# "age" adlı yeni değişkenin ilk on değerini gösterelim
print(age.head(10))

# Cinsiyet, yaş kategorisi ve sınıfa göre hayatta kalanların ortalama oranlarını içeren bir pivot tablosu oluşturalım ve sonucu "pivot_sex_age_class_survived" adlı bir DataFrame'e atayalım
pivot_sex_age_class_survived = titanic.pivot_table("survived", ["sex", age], "class")

# Sonuçları ekrana yazdıralım
print("\npivot_sex_class_survived:\n{}".format(pivot_sex_class_survived))
print("\npivot_sex_age_class_survived:\n{}".format(pivot_sex_age_class_survived))

titanic.age.head:
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64
age.head(10):
0    (18.0, 90.0]
1    (18.0, 90.0]
2    (18.0, 90.0]
3    (18.0, 90.0]
4    (18.0, 90.0]
5             NaN
6    (18.0, 90.0]
7     (0.0, 18.0]
8    (18.0, 90.0]
9     (0.0, 18.0]
Name: age, dtype: category
Categories (2, interval[int64, right]): [(0, 18] < (18, 90]]

pivot_sex_class_survived:
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

pivot_sex_age_class_survived:
class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 90]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 90]  0.375000  0.071429  0.133663